@model MyWebApp.Models.Student;
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-controller="Students" asp-action="Form">
    <label asp-for="StdID">Enter your Student ID: </label>
    <input type="number" asp-for="StdID" />
    <span asp-validation-for="StdID"></span><br /><br />
    <label asp-for="Name">Enter your Name: </label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name"></span><br /><br />
    <label asp-for="Address">Enter your Address: </label>
    <input type="text" asp-for="Address" />
    <span asp-validation-for="Address"></span><br /><br />
    <label asp-for="Faculty">Enter your Faculty: </label><br />
    &emsp;<input type="radio" asp-for="Faculty" value="Bsc.CSIT" />Bsc.CSIT<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BBA" />BBA<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BBS" />BBS<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BBM" />BBM<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BCA" />BCA<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BIM" />BIM<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BIT" />BIT<br />
    &emsp;<input type="radio" asp-for="Faculty" value="BHM" />BHM
    <span asp-validation-for="Faculty"></span><br /><br />
    <label asp-for="PhoneNo">Enter your Phone Number: </label>
    <input type="number" asp-for="PhoneNo" />
    <span asp-validation-for="PhoneNo"></span><br /><br /><br />
    <input type="submit" value="Submit" /><br /><br /><br />
</form>